{% extends 'tmpl/layout.html' %}

{% block title %}About page{% endblock %}
{% block navactiveabout %}active{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div  class="card m-2 p-2">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">C'est un site de réservation de voyage du TP web sujet numero 2. Il a été crée par Ravit Nicolas et Shirtliffe Damien, tous deux étudiant en licence 3 Télécommunication et Réseaux Informatique au Bourget-du-Lac.</p>
        </div>
    </div>
    <div class="col-6"><div class="card m-2 p-2">Nicolas</div></div>
    <div class="col-6"><div class="card m-2 p-2">Damien</div></div>
</div>


{% endblock %}