{% extends 'tmpl/layout.html' %}

{% block title %}Formulaire Alias page{% endblock %}
{% block breadcrumb %}Alias{% endblock %}
{% block breadcrumbform %}
<li class="breadcrumb-item active" aria-current="page">Ajouter</li>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
<h2>Ajouter un alias</h2>

<form action="/alias" method="get">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nom de l'alias :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="alias_name">
        </div>
    </div>
    <div class="form-group row">
        <label for="ipAddress" class="col-sm-2 col-form-label">Adresse IP :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="ipAddress" name="alias_ipAddress">
        </div>
    </div>
    <div class="form-group row">
        <label for="port" class="col-sm-2 col-form-label">Port :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="port" name="alias_port">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
    </div>
</form>

{% endblock %}