{% extends 'tmpl/layout.html' %}

{% block title %}Formulaire Nat page{% endblock %}
{% block breadcrumb %}Nat{% endblock %}
{% block breadcrumbform %}
<li class="breadcrumb-item active" aria-current="page">Ajouter</li>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
<h2>Ajouter une règle Nat</h2>

<form action="/nat" method="get">
    <div class="form-group row">
        <label for="nameNat" class="col-sm-2 col-form-label">Nom :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nameNat" name="nat_nameNat">
        </div>
    </div>
    <div class="form-group row">
        <label for="ipAddress" class="col-sm-2 col-form-label">Adresse IP :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="ipAddress" name="nat_ipAddress">
        </div>
    </div>
    <div class="form-group row">
        <label for="port" class="col-sm-2 col-form-label">Port :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="port" name="nat_port">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
    </div>
</form>

{% endblock %}