{% extends 'tmpl/layout.html' %}

{% block title %}Formulaire Filter page{% endblock %}
{% block breadcrumb %}Filter{% endblock %}
{% block breadcrumbform %}
<li class="breadcrumb-item active" aria-current="page">Ajouter</li>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
<h2>Ajouter un Filtre Nat</h2>

<form action="/filter" method="get">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nom :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="filter_name">
        </div>
    </div>
    <div class="form-group row">
        <label for="ipAddressSrc" class="col-sm-2 col-form-label">Adresse IP source :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="ipAddressSrc" name="filter_ipAddressSrc">
        </div>
    </div>
    <div class="form-group row">
        <label for="portSrc" class="col-sm-2 col-form-label">Port source :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="portSrc" name="filter_portSrc">
        </div>
    </div>
    <div class="form-group row">
        <label for="ipAddressDst" class="col-sm-2 col-form-label">Adresse IP destination :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="ipAddressDst" name="filter_ipAddressDst">
        </div>
    </div>
    <div class="form-group row">
        <label for="port" class="col-sm-2 col-form-label">Port destination :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="portDst" name="filter_portDst">
        </div>
    </div>
    <div class="form-group row">
        <label for="type" class="col-sm-2 col-form-label">Type :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="type" name="filter_type">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
    </div>
</form>

{% endblock %}